body {
    background-color: rgb(54, 54, 54);
}

.board {
    display: flex;
    margin: 25px;
}

.row {
    display: flex;
    flex-direction: column;
}

.square {
    width: 25px;
    height: 25px;
    border-width: 0;
    margin: 1px;
}